@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.DragDropList .characters {
  list-style: none;
  padding-left: 0;
  width: 100%;
  margin-top: 20px;
}

.DragDropList .characters li {
<<<<<<< HEAD
  display: -webkit-box;
  display: -ms-flexbox;
=======
>>>>>>> develop
  display: flex;
  align-items: center;
  border-radius: 0.2em;
  width: 90%;
}

.DragDropList .characters-thumb img {
  display: block;
  width: 55px;
  border-radius: 5px;
  height: auto;
}

.DragDropList .container-global {
  width: 50px;
  height: 100px;
}

.song-container {
  width: 100%;
}

.song-container .song-list-playlist {
  display: flex;
  width: 100%;
  margin-top: 15px;
  background-color: #171717;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.song-container .song-list-playlist:hover {
  background-color: #666666;
}

.song-container .song-list-playlist .song-info {
  display: flex;
  color: #fff;
}

.song-container .song-list-playlist .song-info h3,
.song-container .song-list-playlist .song-info h5 {
  margin: 0px 0px 0px 20px;
}

@media (max-width: 1140px) {
  .song-container .song-list-playlist .song-info h3,
  .song-container .song-list-playlist .song-info h5 {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 140px;
    height: 1.2em;
    white-space: nowrap;
  }
}

@media (max-width: 940px) {
  .song-container .song-list-playlist .song-info h3,
  .song-container .song-list-playlist .song-info h5 {
    width: 100%;
  }
}

@media (max-width: 625px) {
  .song-container .song-list-playlist .song-info h3,
  .song-container .song-list-playlist .song-info h5 {
    width: 100px;
  }
}

.song-container .playlists-header {
  display: flex;
  color: #fff;
  align-items: center;
  margin-left: 75px;
}

.song-container .playlists-header .playlist-icon {
  width: 30px;
  height: 35px;
  color: #a8a8a8;
}

.song-container .playlists-header h1 {
  margin-left: 10px;
}

.song-container .song-cover {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 5px;
  margin-left: 8px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.song-container .song-actions-container {
  display: flex;
}

.song-container .song-actions-container .song-actions {
  width: 100%;
  height: 40px;
  background-color: #0f0f0f;
  border-radius: 50px;
  margin-right: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.song-container .song-actions-container .song-actions .song-play .play-icon {
  width: 22px;
  height: 18px;
  color: #fff;
  margin-top: 3px;
}

.song-container .song-actions-container .song-actions .song-play button {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: none;
  background-color: #363636;
  cursor: pointer;
  transition: transform 0.2s;
}

.song-container .song-actions-container .song-actions .song-play button:hover {
  transform: scale(1.1);
}

.song-container .song-actions-container .song-actions .song-like .like-icon {
  width: 25px;
  height: 25px;
  color: #fff;
  margin-top: 3px;
  margin-right: 5px;
}

.song-container .song-actions-container .song-actions .song-like .like-icon:hover {
  transform: scale(1.2);
  color: #ff4747;
}

.song-container .song-actions-container .song-actions .song-like .like-icon.liked {
  color: #ff4747;
}

.song-container .song-actions-container .song-actions .song-like button {
  width: 100%;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.song-container .context-container {
  display: flex;
  margin-bottom: 4px;
  align-items: center;
}

.song-container .context-container .context-icon {
  width: 100%;
  height: 30px;
}

.song-container .more-icon {
  width: 30px;
  height: 30px;
  color: #fff;
  cursor: pointer;
}

.song-container .context-menu-btn {
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: larger;
  height: 30px;
}

@media only screen and (max-width: 400px) {
  .song-container {
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .song-container .song-list-playlist .song-actions {
    width: 100px;
  }
  .song-container .song-list-playlist .song-info {
    font-size: 12px;
  }
  .song-container .song-list-playlist .context-icon {
    width: 20px;
    height: 30px;
  }
}

.song-play .play-icon {
  width: 22px;
  height: 18px;
  color: #fff;
  margin-top: 3px;
}

.song-play button {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: none;
  background-color: #363636;
  cursor: pointer;
  transition: transform 0.2s;
}

.song-play button:hover {
  transform: scale(1.1);
}
/*# sourceMappingURL=playliststack.css.map */