@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.DragDropList {
  .characters {
    list-style: none;
    padding-left: 0;
    width: 100%;
    margin-top: 20px;
  }

  .characters li {
    display: flex;
    align-items: center;
    border-radius: 0.2em;
    width: 90%;
  }

  .characters-thumb img {
    display: block;
    width: 55px;
    border-radius: 5px;
    height: auto;
  }

  .container-global {
    width: 50px;
    height: 100px;
  }
}

.song-container {
  width: 100%;

  .song-list-playlist {
    display: flex;
    margin-top: 15px;
    background-color: #171717;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

    .song-info {
      display: flex;
      color: #fff;

      h3,
      h5 {
        margin: 0px 0px 0px 20px;
      }

      @media (max-width: 1140px) {
        h3,
        h5 {
          text-overflow: ellipsis;
          overflow: hidden;
          width: 140px;
          height: 1.2em;
          white-space: nowrap;
        }
      }

      @media (max-width: 940px) {
        h3,
        h5 {
          width: 100%;
        }
      }

      @media (max-width: 625px) {
        h3,
        h5 {
          width: 100px;
        }
      }
    }
  }

  .playlists-header {
    display: flex;
    color: #fff;
    align-items: center;
    margin-left: 75px;

    .playlist-icon {
      width: 30px;
      height: 35px;
      color: rgb(168, 168, 168);
    }

    h1 {
      margin-left: 10px;
    }
  }

  .song-cover {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 8px;
  }

  .song-actions-container {
    display: flex;
    .song-actions {
      width: 150px;
      height: 40px;
      background-color: #0f0f0f;
      border-radius: 50px;
      margin-right: 10px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .song-play {
        .play-icon {
          width: 22px;
          height: 18px;
          color: #fff;
          margin-top: 3px;
        }
        button {
          width: 40px;
          height: 40px;
          border-radius: 50px;
          border: none;
          background-color: #363636;
          cursor: pointer;
          transition: transform 0.2s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      .song-like {
        .like-icon {
          width: 25px;
          height: 25px;
          color: #fff;
          margin-top: 3px;
          margin-right: 5px;

          &:hover {
            color: rgb(255, 71, 71);
          }

          &.liked {
            color: rgb(255, 71, 71);
          }
        }

        button {
          width: 40px;
          height: 40px;
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
  }

  .context-container {
    display: flex;
    margin-bottom: 4px;
    align-items: center;

    .context-icon {
      width: 30px;
      height: 30px;
    }
  }

  .more-icon {
    width: 30px;
    height: 30px;
    color: #fff;
    cursor: pointer;
  }

  .context-menu-btn {
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: larger;
    height: 30px;
  }
}
