.background {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("../../../assets/images/pexels-elevate-1267350\ \(1\).jpg");
  background-position: center;

  background-repeat: no-repeat;
  background-size: cover;
}
