body,
html {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url("../../../assets/images/pexels-elevate-1267350\ \(1\).jpg");
  background-position: center;
  bottom: 1vh;
  background-repeat: no-repeat;
  background-size: cover;
}
