.register-box {
  align-items: flex-start;
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px 25px;
  grid-template-areas:
    "text space"
    "name password"
    "surname cpassword" "email checkboxes" "button info";

  background-color: rgba(23, 23, 23, 0.85);
  border-radius: 25px;
  bottom: 4vh;
  height: 70vh;
  width: 110vh;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 90px;
}
.name {
  grid-area: name;
}
.password {
  grid-area: password;
}
.surname {
  grid-area: surname;
}
.cpassword {
  grid-area: cpassword;
}
.email {
  grid-area: email;
}
.info {
  grid-area: info;
}
.space {
  grid-area: space;
}
.register-inputs {
  height: 8vh;
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: none;
  box-sizing: border-box;
  padding: 15px;
  font-size: 20px;
  color: #868686;
  font-weight: 600;
}
.register-inputs::placeholder {
  color: #c3c3c3;
  font-weight: 600;
}
p {
  margin: 0;
  color: #646464;
  font-size: 10px;
}
.text {
  color: white;
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  grid-area: text;
}
.button {
  background-color: #395fff;
  color: white;
  cursor: pointer;
  grid-area: button;
}
.button:hover {
  transform: scale(1.05) perspective(1px);
}
.button:active {
  box-shadow: rgb(43, 44, 44) 3px 3px 6px 0px inset,
    rgba(110, 107, 107, 0.5) -3px -3px 6px 1px inset;
}
.checkboxes {
  display: grid;
  grid-area: checkboxes;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px 0px;
}
input[type="checkbox"] {
  height: 12px;
  width: 12px;
  margin-right: 8px;
  cursor: pointer;
}
label {
  font-size: 12px;
  color: white;
}
span {
  bottom: 20vh;
}
.errorMessage {
  color: #e92b2d;
  font-weight: 600;
  font-size: 12px;
  box-sizing: border-box;
  padding: 2px;
}
