//======= SEARCH ========//

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #171717;
  width: 60%;
  height: 20px;
  padding: 15px;
  border-radius: 7px;

  form {
    width: 90%;
  }

  input {
    background-color: transparent;
    border: none;
    margin-left: 15px;
    width: 100%;
    font-size: 18px;
    color: #fff;
    caret-color: rgb(255, 255, 255);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #fff;
    }
  }
}

.search_result {
  position: absolute;
  width: 80%;
  height: 500px;
  background-color: #171717;
  z-index: -1;
  border-radius: 7px;
  color: #fff;
  padding: 20px;

  .result_container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

    .artist_result {
      width: 50%;
    }

    .song_result {
      width: 50%;
    }
  }

  .playlists_result {
  }
}
