.edit-modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .edit-modal {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: auto;
    padding: 2rem;
    border-radius: 20px;
    background-color: rgba(252, 153, 178, 0.9);
    box-shadow: 0 0 1rem 0 rgba(176, 192, 192, 0.2);

    .edit-modal-input-box,
    .edit-modal-button-box,
    .edit-modal-title {
      height: 50px;
      margin: 5px;

      button {
        border-radius: 5px;
        width: 120px;
        cursor: pointer;
      }
      .submit {
          background-color: rgba(2, 138, 250, 0.801);
      }
      .edit-modal-close {
          background-color: rgba(165, 161, 159, 0.863);
      }
      input, select {
        height: 40px;
        width: 300px;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 5px;
      }
    }
    .edit-modal-input-box,
    .edit-modal-title {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .edit-modal-button-box {
      display: flex;
      justify-content: space-between;
    }
    
  }
}
