.my-playlist-body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-playlist-body .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 60%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
}

.my-playlist-body .left-side .playlist-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35vh;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

.my-playlist-body .left-side .playlist-title .album-column {
  height: 300px;
  width: 350px;
  border-radius: 20px;
  background-position: center;
}

.my-playlist-body .left-side .playlist-title .text-column {
  height: 100%;
  width: 60%;
  color: white;
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my-playlist-body .left-side .playlist-title .text-column h1 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

.my-playlist-body .left-side .playlist-title .text-column h3 {
  font-weight: 500;
  margin: 0;
}

.my-playlist-body .left-side .playlist-title .text-column .playlist-name {
  width: 100%;
  height: 30%;
  font-size: 30px;
}

.my-playlist-body .left-side .playlist-title .text-column .playlist-genre,
.my-playlist-body .left-side .playlist-title .text-column .playlist-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30%;
  font-size: 20px;
}

.my-playlist-body .left-side .playlist-title .text-column .playlist-user {
  cursor: pointer;
  text-decoration: underline;
}

.my-playlist-body .left-side .playlist-title .text-column .playlist-user:hover {
  color: darkgoldenrod;
}

.my-playlist-body .left-side .playlist-title .text-column .context-menu-btn {
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: larger;
  height: 30px;
}

.my-playlist-body .left-side .playlist-title .text-column .upload-button:hover svg {
  color: #0077ff;
}

.my-playlist-body .left-side .playlist-title .text-column .upload-button:active {
  -webkit-box-shadow: 0px 0px 0px 3px #0077ff;
          box-shadow: 0px 0px 0px 3px #0077ff;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.my-playlist-body .left-side .playlist-title .text-column .follow-button {
  border-radius: 5px;
  width: 120px;
  height: 40px;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 500;
  color: white;
}

.my-playlist-body .left-side .playlist-title .text-column .follow-button.follow {
  background-color: #70037a;
}

.my-playlist-body .left-side .playlist-title .text-column .follow-button.following {
  background-color: #ff6600;
}

.my-playlist-body .left-side .song-stack {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.my-playlist-body .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  width: 40%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

.my-playlist-body .right-side .relevant-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  width: 100%;
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.my-playlist-body .right-side .relevant-songs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 100%;
  margin: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 35px 0px;
}

.my-playlist-body .right-side .relevant-songs .number {
  width: 10%;
  color: white;
  font-size: 80px;
  margin-right: 15px;
}

.my-playlist-body .right-side .relevant-songs .album-image {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.my-playlist-body .right-side .relevant-songs .relevant-song-name {
  width: 35%;
  color: white;
  margin-left: 15px;
}

.my-playlist-body .right-side .relevant-songs .relevant-song-name .relevant-song-artist {
  color: #5f5f5f;
  margin-top: 5px;
}
/*# sourceMappingURL=playlistcomponent.css.map */