.my-playlist-body {
  display: flex;
  height: 100%;

  .left-side {
    display: flex;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 100px;

    .playlist-title {
      display: flex;
      height: 25vh;
      width: 100%;
      height: fit-content;
      box-sizing: border-box;
      padding: 15px;
      border-bottom: rgb(95, 95, 95, 0.2) 0.5px solid;

      .album-column {
        height: 250px;
        width: 250px;
        border-radius: 20px;
        background-position: center;
      }
      .text-column {
        height: 100%;
        width: 60%;
        color: white;
        margin-left: 40px;
        display: flex;
        flex-direction: column;

        h1 {
          font-size: 30px;
          font-weight: 700;
          margin: 0;
        }

        h3 {
          font-weight: 500;
          margin: 0;
        }

        .playlist-name {
          width: 100%;
          height: 30%;

          font-size: 30px;
        }
        .playlist-genre,
        .playlist-user {
          display: flex;
          align-items: center;
          width: 100%;
          height: 30%;

          font-size: 20px;
        }
        .playlist-user {
          cursor: pointer;
          text-decoration: underline;
          &:hover {
            color: darkgoldenrod;
          }
        }
        .context-menu-btn {
          color: #fff;
          background-color: transparent;
          border: none;
          font-size: larger;
          height: 30px;
        }
        .upload-button {
          width: 130px;
          padding: 15px;
          margin-top: 40px;
          background-color: #171717;
          color: #fff;
          border-radius: 10px;
          font-weight: 600;
          border: none;
          text-align: center;
          cursor: pointer;
          z-index: 1;
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          &:hover {
            svg {
              color: rgb(0, 119, 255);
            }
          }

          &:active {
            box-shadow: 0px 0px 0px 3px rgb(0, 119, 255);
            transform: scale(0.97);
          }
          .upload-icon {
            width: 30px;
            height: 30px;
            cursor: pointer;
            color: #fff;
          }
        }
        .follow-button {
          border-radius: 5px;
          width: 120px;
          height: 40px;
          cursor: pointer;
          letter-spacing: 1px;
          font-weight: 500;
          color: white;
          &.follow {
            background-color: rgb(112, 3, 122);
          }
          &.following {
            background-color: rgb(255, 102, 0);
          }
        }
      }
    }
    .song-stack {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      overflow: scroll;
    }
  }

  .right-side {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 40%;
    box-sizing: border-box;
    padding: 15px;
    justify-content: center;
    align-items: center;

    .relevant-title {
      display: flex;
      height: 10vh;
      width: 100%;
      font-size: 25px;
      font-weight: 600;
      color: white;
    }
    .relevant-songs {
      display: flex;
      align-items: center;
      height: 300px;
      width: 100%;
      margin: 5px;
      box-sizing: border-box;
      padding: 35px 0px;
      .number {
        width: 10%;
        color: white;
        font-size: 80px;
        margin-right: 15px;
      }
      .album-image {
        width: 150px;
        height: 150px;
        border-radius: 5px;
      }
      .relevant-song-name {
        width: 35%;
        color: white;
        margin-left: 15px;

        .relevant-song-artist {
          color: #5f5f5f;
          margin-top: 5px;
        }
      }
    }
  }
}
@media only screen and (max-width: 843px) {
  .my-playlist-body {
    .right-side {
      display: none;
    }
    .left-side {
      width: 100%;
      .playlist-title {
        .album-column {
          height: 200px;
        }
        .text-column {
          margin-right: 15px;
          h1 {
            font-weight: 500;
          }
          h3 {
            font-weight: 300;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
}
