.my-playlist-body {
  height: 100%;
  display: flex;

  .left-side {
    display: flex;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;

    .playlist-title {
      display: flex;
      height: 35vh;
      width: 100%;
      height: fit-content;
      box-sizing: border-box;
      padding: 20px;
      border-bottom: rgb(95, 95, 95, 0.2) 0.5px solid;

      .album-column {
        height: 300px;
        width: 350px;
        border-radius: 20px;
        background-position: center;
      }
      .text-column {
        height: 100%;
        width: 60%;
        color: white;
        margin-left: 40px;
        display: flex;
        flex-direction: column;

        h1 {
          font-size: 30px;
          font-weight: 700;
          margin: 0;
        }

        h3 {
          font-weight: 500;
          margin: 0;
        }

        .playlist-name {
          width: 100%;
          height: 30%;

          font-size: 30px;
        }
        .playlist-genre,
        .playlist-user {
          display: flex;
          align-items: center;
          width: 100%;
          height: 30%;
          font-size: 20px;
        }
        .playlist-user {
          cursor: pointer;
          text-decoration: none;
          &:hover {
            color: darkgoldenrod;
          }
        }
        .context-menu-btn {
          color: #fff;
          background-color: transparent;
          border: none;
          font-size: larger;
          height: 30px;
        }

        .upload-button:hover {
          svg {
            color: rgb(0, 119, 255);
          }
        }

        .upload-button:active {
          box-shadow: 0px 0px 0px 3px rgb(0, 119, 255);
          transform: scale(0.97);
        }
        .follow-button {
          border-radius: 5px;
          width: 120px;
          height: 40px;
          cursor: pointer;
          letter-spacing: 1px;
          font-weight: 500;
          color: white;
          &.follow {
            background-color: rgb(112, 3, 122);
          }
          &.following {
            background-color: rgb(255, 102, 0);
          }
        }
      }
    }
    .song-stack {
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
    }
  }

  .right-side {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 40%;
    box-sizing: border-box;
    padding: 20px;

    .relevant-title {
      display: flex;
      height: 10vh;
      width: 100%;
      font-size: 25px;
      font-weight: 600;
      color: white;
    }
    .relevant-songs {
      display: flex;
      align-items: center;
      height: 300px;
      width: 100%;
      margin: 5px;
      box-sizing: border-box;
      padding: 35px 0px;
      .number {
        width: 10%;
        color: white;
        font-size: 80px;
        margin-right: 15px;
      }
      .album-image {
        width: 120px;
        height: 120px;
        border-radius: 5px;
      }
      .relevant-song-name {
        width: 35%;
        color: white;
        margin-left: 15px;

        .relevant-song-artist {
          color: #5f5f5f;
          margin-top: 5px;
        }
      }
    }
  }
}
