.loginBackground {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/images/pexels-koolshooters-7142993.jpg");
  background-position: center;
  bottom: 1vh;
  background-repeat: no-repeat;
  background-size: cover;
}