.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: auto;
    padding: 2rem;
    border-radius: 20px;
    background-color: rgba(185, 141, 100, 0.9);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);

    .modal-button-box {
      display: flex;
      justify-content: space-between;
      button {
        border-radius: 5px;
        width: 120px;
        cursor: pointer;
      }
    }
  }
}
