.payment-info {
  display: none;
  .content {
    display: flex;
    flex-direction: column;
    margin-left: 5%;

    .top-row {
      display: flex;
    }

    input {
      display: flex;
      align-items: center;
      padding: 15px;
      margin-right: 10px;
      margin-bottom: 10px;
      font-size: 18px;
      border-radius: 7px;
      color: #fff;
    }

    p {
      font-size: 18px;
      color: #fff;
      margin-bottom: 10px;
    }

    .card-info {
      display: flex;

      .payment-label {
        margin-left: 50px;
        input {
          width: 50%;
          text-align: center;
        }
      }

      input {
        width: 100%;
      }
    }

    .ccv-input {
      .ccv-label {
        input {
          width: 10%;
          text-align: center;
        }
      }
    }

    .bottom-row {
      display: flex;
      align-items: flex-end;
      .edit-btn {
        display: flex;
        align-items: center;
        padding: 15px;
        border-radius: 5px;
        padding: 12px;
        font-size: 18px;
        border: none;
        color: #fff;
        background-color: #395fff;
        cursor: pointer;
      }
      .button-icon {
        color: rgb(255, 255, 255);
        width: 30px;
        height: 30px;
      }
    }
  }
}
