.backgroundArtist {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("../../../assets/images/icons/pexels-tuur-tisseghem-613813.jpg");
  background-position: center;

  background-repeat: no-repeat;
  background-size: cover;
}
