.profile-container {
  margin-left: 25px;
  overflow: hidden;

  .profile-card {
    display: flex;
    flex-direction: column;
    background-color: #171717;
    width: 80%;
    height: 600px;
    margin: 0px 20px 0px 20px;
    border-radius: 7px;
    border: none;
    outline: none;

    .profile-component {
    }

    .payment-component {
    }

    .sub-component {
    }

    .upload-component {
    }

    h2 {
      margin-bottom: 40px;
      margin-left: 5%;
    }
  }

  h2 {
    color: #fff;
    font-size: 40px;
  }

  h1 {
    color: #fff;
    padding: 20px;
  }

  .profile-content {
    display: flex;
  }

  .lateral-menu {
    width: 25%;

    button {
      color: #fff;
      font-size: 18px;
      margin-top: 20px;
      padding: 12px;
      width: 100px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: #395fff;
    }
  }
  .profile-menu {
    background-color: #171717;
    border-radius: 7px;
    padding: 5%;

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      padding: 20px 20px 20px 20px;
      cursor: pointer;
      background-color: #0f0f0f;
      border-radius: 7px;
      margin-bottom: 10px;
    }
  }

  .profile-item {
    background-color: #171717;
    width: 80%;
    height: 500px;
    margin: 0px 20px 0px 20px;
    border-radius: 7px;
  }
}
