@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  //outline: 1px solid red;
}

body {
  margin: 0;
  background-color: #000000;
  overflow-x: hidden;
  margin: 0;
}
body {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  // background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
// ::-webkit-scrollbar-thumb {
//   background: #ff0000;
// }
