@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  //outline: 1px solid red;
}

body {
  background-color: #000000;
  overflow-x: hidden;
}
