.newlist-container {
  margin-left: 25px;
  margin-top: 50px;
  display: flex;
  width: 100%;

  h2 {
    color: #fff;
    font-size: 40px;
  }

  h1 {
    color: #fff;
    padding: 20px;
  }

  .new-spain {
    width: 50%;
  }

  .new-world {
    width: 50%;
  }
}

.song-list {
  .song-container {
    width: 90%;
  }
}
