.user-info {
  height: 500px;

  display: flex;
  flex-direction: column;
  margin: 5%;

  .content {
    display: flex;
    height: auto;
    width: 800px;
  }

  .user-info-title {
    margin-left: 0 !important;
    margin-top: -10px;
    margin-bottom: 40px;
  }

  .left-column {
    width: 200px;
    height: auto;
  }

  .profile-picture {
    width: 150px;
    height: 150px;
    background-size: contain;
    border: 3px solid #fff;
    border-radius: 100%;
    background-repeat: "no-repeat";

    input {
      display: none;
    }
  }
  .profile-picture-uploaded {
    width: 150px;
    height: 150px;
    background-size: cover;
    border: 2px solid #fff;
    border-radius: 100%;
    background-repeat: "no-repeat";
    cursor: pointer;
    background-position: center;

    input {
      display: none;
    }
  }
  .close-icon {
    width: 30px;
    height: 30px;
    z-index: 10;
    position: relative;
    margin-left: 15px;
    background: transparent;
    border-radius: 15px;
    opacity: 0.8;
    position: absolute;
    z-index: 10;
    cursor: pointer;
  }

  .right-column {
    width: 1000px;
    margin-left: 20px;
    height: auto;

    button {
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      border: none;
      cursor: pointer;
    }

    .form-box {
      width: 100%;
      input {
        align-items: center;
        padding: 15px;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        border-radius: 7px;
        background-color: #585858;
        color: white;
      }
      input:focus {
        background-color: #fff;
        color: #0f0f0f;
      }

      button {
        padding: 15px;
        width: 270px;
        border-radius: 5px;
        margin: 0;
        background-color: #2b008d;
      }
      .password-button {
        margin-bottom: 10px;
      }
    }
    .genre-box {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      height: 200px;
      width: 600px;
      overflow: hidden;
      justify-content: space-between;
    }
    .genre-side {
      background-color: #0f0f0f;
      border-radius: 7px;
      padding: 20px;
      overflow-y: scroll;
      width: 40%;

      label {
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        input[type="checkbox"] {
          width: 18px;
          height: 18px;
        }
      }
    }

    .button-side {
      display: flex;
      align-items: flex-end;
      .edit-btn {
        padding: 15px;
        border-radius: 5px;
        margin: 10px;
        background-color: #ff3939;
      }
      .save-btn {
        padding: 15px;
        border-radius: 5px;
        margin: 10px;
        background-color: #395fff;
      }
    }

    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #0f0f0f;
      border-radius: 20px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: rgba(53, 53, 53, 0.575);
      border-radius: 20px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: rgba(255, 255, 255, 0.849);
    }
  }
}
