.login-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.46);

  .login-section {
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.86);
    border-radius: 20px;
  }

  .login-form {
    display: flex;
    flex-direction: column;

    input {
      padding: 24px;
      width: 300px;
      font-size: 16px;
      margin-top: 10px;
      border: none;
      border-radius: 5px;
    }
  }

  h2 {
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
    font-size: 50px;
  }

  h3 {
    color: #fff;
    text-align: center;
  }

  button {
    margin-top: 10px;
    width: 348px;
    padding: 15px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;

    &:hover {
      transform: scale(0.99);
    }

    &:active {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 40px 60px -15px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }

    img {
      width: 40px;
      height: 40px;
      margin-right: 15px;
    }
  }

  .login-btn {
    background-color: #395fff;
    padding: 22px;
  }

  .login-gl-btn {
    background-color: #2b008d;
  }

  .register-btn {
    background-color: #fff;
    color: #000;
  }
}
