.my-playlist-body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-playlist-body .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 700px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
}

.my-playlist-body .left-side .playlist-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35vh;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

.my-playlist-body .left-side .playlist-title .album-column {
  height: 100%;
  width: 350px;
  border-radius: 20px;
}

.my-playlist-body .left-side .playlist-title .text-column {
  height: 100%;
  width: 60%;
  color: white;
  margin-left: 40px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my-playlist-body .left-side .playlist-title .text-column .playlist-name {
  width: 100%;
  height: 30%;
  font-size: 30px;
}

.my-playlist-body .left-side .playlist-title .text-column .playlist-genre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30%;
  font-size: 20px;
}

.my-playlist-body .left-side .playlist-title .text-column .upload-button {
  background-image: -webkit-gradient(linear, right top, left top, from(#ff4343), color-stop(#ff2a7c), color-stop(#eb3db3), color-stop(#b65fe2), to(#527aff));
  background-image: linear-gradient(to left, #ff4343, #ff2a7c, #eb3db3, #b65fe2, #527aff);
  cursor: pointer;
}

.my-playlist-body .left-side .playlist-title .text-column .upload-button {
  font-weight: 600;
  margin-top: 40px;
  width: 130px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

.my-playlist-body .left-side .playlist-title .text-column .upload-button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.my-playlist-body .left-side .song-stack {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.my-playlist-body .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  width: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

.my-playlist-body .right-side .relevant-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  width: 100%;
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.my-playlist-body .right-side .relevant-songs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 400px;
  margin: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 35px;
}

.my-playlist-body .right-side .relevant-songs .number {
  width: 10%;
  color: white;
  font-size: 80px;
  margin-right: 15px;
}

.my-playlist-body .right-side .relevant-songs .album-image {
  width: 50%;
  height: 100%;
  border-radius: 5px;
}

.my-playlist-body .right-side .relevant-songs .relevant-song-name {
  width: 35%;
  color: white;
  margin-left: 15px;
}

.my-playlist-body .right-side .relevant-songs .relevant-song-name .relevant-song-artist {
  color: #5f5f5f;
  margin-top: 5px;
}
/*# sourceMappingURL=myPlaylist.css.map */