.playlists-container {
  margin-top: 50px;

  .playlists-header {
    display: flex;
    color: #fff;
    align-items: center;
    margin-left: 75px;

    .playlist-icon {
      width: 30px;
      height: 35px;
      color: rgb(168, 168, 168);
    }
    .plus-icon {
      margin-left: 20px;
      cursor: pointer;
    }
    h1 {
      margin-left: 10px;
    }
  }

  .playlists {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .playlist-item {
      width: 250px;
      height: 300px;
      padding: 10px;
      white-space: normal;
      border-radius: 10px;
      margin: 10px;
      background-image: url(../../../assets/images/icons/portada-1.png);
      background-size: cover;
      background-repeat: no-repeat;

      h1 {
        font-size: 40px;
      }
    }
  }
}
