.nav-container {
  display: flex;
  flex-direction: row;
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 18px;
  // justify-content: space-around;

  .home-icon-container {
    height: 100%;
    width: 80px;
    margin-top: 13px;

    .home-icon {
      height: 100%;
      width: 25px;
      margin-left: 10px;
      cursor: pointer;
    }
  }

  .circle {
    width: 20px;
    height: 21px;
    background: linear-gradient(
      45deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(31, 0, 255, 1) 80%
    );
    border: 2px solid #fff;
    border-radius: 50px;
  }
}

//======= MANU ========//

.nav-menu {
  width: 100%;
}

input#menu {
  display: none;
}

.icon {
  background-color: #171717;
  cursor: pointer;
  display: block;
  height: 24px;
  padding: 16px;
  width: 24px;
  border-radius: 7px;
}

label.icon {
  position: sticky;
  z-index: 200;
}

.icon .nav-list,
.icon .nav-list::before,
.icon .nav-list::after {
  background: #ffffff;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
  width: 20px;
}

.icon .nav-list {
  left: 19px;
  top: 27px;

  &::before {
    top: -6px;
  }

  &::after {
    top: 6px;
  }
}

#menu:checked + .icon .nav-list {
  background: transparent;

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

#menu:checked + .icon .nav-list::before,
#menu:checked + .icon .nav-list::after {
  top: 0;
  transition: top ease 0.3s, transform ease 0.3s 0.3s;
}

nav {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.767);
  border-radius: 10px 10px 10px 10px;
  z-index: 100;
  width: 50px;
  overflow: hidden;
  display: none;
  position: absolute;
}

#menu:checked ~ nav {
  width: 250px;
  background-color: #171717;
  display: block;
}

#menu:checked ~ .icon {
  background-color: transparent;
}

nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      flex-direction: row;
      background: #0f0f0f;
      margin: 10px;
      padding: 8px 23px;
      border-radius: 10px;
      line-height: 0px;
      cursor: pointer;
      white-space: nowrap;

      h4 {
        color: #fff;
        margin-left: 30px;
      }

      h5 {
        color: #fff;
        margin-left: 55px;
      }
    }
  }

  i {
    color: #9fb1bd;
    margin-right: 24px;
    vertical-align: text-bottom;
  }
}

.list-icon {
  color: rgb(151, 151, 151);
  width: 25px;
  height: 25px;
}

.menu-actions {
  display: flex;
  position: sticky;
  justify-content: flex-end;
  margin-right: 35px;
}
@media (max-width: 940px) {
  .menu-actions {
    margin-right: 15px;
  }
}

.user-icon {
  width: 38px;
  height: 38px;
  position: fixed;
  border: 2px solid #fff;
  border-radius: 50px;
  cursor: pointer;
  background-size: cover;
  background-repeat: "no-repeat";
  background-position: center;
}

.user-icon-li {
  background-color: transparent !important;
  padding: 0px !important;
  margin: 23px !important;
  width: 60%;
}
