.textarea-input {
  height: 17vh;
  width: 300px;
  border-radius: 5px;
  outline: none;
  border: none;
  box-sizing: border-box;
  padding: 15px;
  font-size: 15px;
  color: #868686;
  font-weight: 600;
}