.music-controlls {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #0b0b0b;
  box-shadow: 4px -8px 32px 0px rgba(0, 0, 0, 0.75);
  position: fixed;
  bottom: 0;
  border-radius: 22px 22px 0px 0px;

  button {
    cursor: pointer;
  }

  .song-item {
    display: flex;
    align-items: center;
    margin-left: 20px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 10px;
    }

    h3 {
      margin: 0;
      font-weight: 800;
    }

    h5 {
      margin: 0;
      font-weight: 400;
    }

    .song-info {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      color: #fff;
    }
  }

  .actions-left {
    display: flex;
    margin-left: 50px;
    .action-button {
      cursor: pointer;
      img {
        width: 15px;
        height: 15px;
      }
    }

    .play-button {
      cursor: pointer;
      img {
        width: 50px;
      }
    }

    .pause-button {
      cursor: pointer;
      img {
        width: 50px;
      }
    }

    button {
      background-color: transparent;
      border: none;
    }
  }

  .bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7px;
    border-radius: 50px;
    background-image: linear-gradient(
      to left,
      #ff4343,
      #ff2a7c,
      #eb3db3,
      #b65fe2,
      #527aff
    );
  }

  .bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    margin-left: 20px;

    h4 {
      color: #fff;
      margin: 20px;
    }
  }

  .actions-right {
    display: flex;
    align-items: center;
    margin-left: 30px;

    img {
      width: 50px;
      height: 50px;
    }

    .sound-bar {
      display: flex;
      width: 100px;
      height: 7px;
      margin-left: 15px;
      background-color: rgba(207, 207, 207, 0.637);
      border-radius: 50px;

      .line {
        width: 40px;
        height: 7px;
        background-color: rgb(255, 255, 255);
        border-radius: 50px;
      }
    }

    .config {
      margin-left: 40px;
      img {
        width: 30px;
        height: 30px;
      }
      button {
        background-color: transparent;
        border: none;
        width: 30px;
        height: 30px;
      }
    }

    .close {
      margin-left: 40px;
      img {
        width: 20px;
        height: 20px;
      }
      button {
        background-color: transparent;
        border: none;
        width: 20px;
        height: 20px;
        border-radius: 20px;
      }
    }
  }
}
