.audio-player {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  color: #fff;
  background-color: #0b0b0b;
  box-shadow: 4px -8px 32px 0px rgba(0, 0, 0, 0.75);
  position: fixed;
  bottom: 0;
  border-radius: 22px 22px 0px 0px;

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .volume-icon {
    width: 50px;
    height: 50px;
    color: #fff;
    margin-left: 60px;
  }

  .add-icon {
    width: 40px;
    height: 40px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    cursor: pointer;
    transition: transform 0.2s;
  }

  .add-icon:hover {
    transform: scale(1.1);
  }

  .audio-controls {
    display: flex;
    margin: 0px 20px 0px 70px;
  }

  .track-info {
    display: flex;
    align-items: center;
    margin-left: 20px;

    .progress {
      width: 520px;
      margin: 0px 20px 0px 20px;
    }

    .volume {
      width: 100px;
      margin: 0px 20px 0px 20px;
    }

    .next,
    .prev {
      img {
        width: 20px;
        height: 20px;
      }
    }

    .artwork {
      width: 70px;
      height: 70px;
      border-radius: 7px;
    }

    .song-info {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      color: #fff;

      h4 {
        margin: 0;
        font-size: 30px;
      }
      h6 {
        margin: 0;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}
