.audio-player {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  color: #fff;
  background-color: #0b0b0b;
  box-shadow: 4px -8px 32px 0px rgba(0, 0, 0, 0.75);
  position: fixed;
  box-sizing: border-box;
  padding: 10px;
  bottom: 0;
  border-radius: 22px 22px 0px 0px;

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .volume-icon {
    width: 90px;
    height: 90px;
    color: #fff;
  }

  .add-icon {
    width: 60px;
    height: 50px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    cursor: pointer;
    transition: transform 0.2s;
  }

  .add-icon:hover {
    transform: scale(1.1);
  }

  .audio-controls {
    display: flex;
    margin: 0px 20px 0px 0px;
    margin-left: 15px;
  }

  .track-info {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 10px;

    .track-bar {
      display: flex;
      width: 100%;
      margin-right: 40px;

      h4 {
        width: 40px;
      }
    }

    @media (max-width: 750px) {
      .track-bar,
      .add-icon,
      .volume-icon,
      .volume {
        display: none;
      }
    }

    .progress {
      width: 100%;
      margin: 0px 20px 0px 20px;
    }

    .volume {
      width: 30%;
      margin: 0px 20px 0px 20px;
    }

    .next,
    .prev {
      img {
        width: 20px;
        height: 20px;
      }
    }

    .artwork {
      width: 55px;
      height: 55px;
      border-radius: 5px;
      margin-left: 5px;
    }

    @media (max-width: 850px) {
      .artwork {
        width: 50px;
        height: 50px;
        border-radius: 7px;
      }
    }

    .song-info {
      display: flex;
      flex-direction: column;
      margin: 0px 0px 0px 20px;
      width: 40%;
      color: #fff;

      h4 {
        margin: 0;
        font-size: 20px;
      }
      h6 {
        margin: 0;
        font-size: 17px;
        font-weight: 500;
      }

      @media (max-width: 1175px) {
        h4 {
          text-overflow: ellipsis;
          overflow: hidden;
          width: 150px;
          height: 1.2em;
          white-space: nowrap;
        }
      }

      @media (max-width: 850px) {
        h4 {
          font-size: 15px;
        }
        h6 {
          font-size: 10px;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .audio-player {
    height: 80px;

    .track-info {
      width: 80%;

      .song-info {
        h4 {
          font-size: 20px;
        }
        h6 {
          font-size: 17px;
        }
      }
    }
  }
}
