.recomend-container {
  margin-left: 25px;
  margin-top: 40px;

  h2 {
    color: #fff;
    font-size: 50px;
  }

  h1 {
    color: #fff;
    padding: 20px;
    font-weight: 600;
  }

  .list-item {
    width: 340px;
    height: 380px;
    margin-right: 15px;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.2s;
    cursor: pointer;
    &:hover {
      transform: scale(0.95);
      box-shadow: 0px 0px 0px 3px rgb(255, 255, 255);
    }
  }

  .list-name {
    width: 100%;
    font-size: 25px;
    white-space: normal;
  }
}

.scroll-container {
  height: 404px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0;
  white-space: nowrap;
  width: auto;

  .scroll {
    display: flex;
  }

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.685);
    border-radius: 8px;
  }
}

.item-container {
  .dark-back {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.315);
    display: flex;
  }
}
