.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  .modal {
    display: flex;
    width: 500px;
    height: auto;
    padding: 2rem;
    border-radius: 20px;
    background-color: rgba(61, 61, 61, 0.9);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    justify-content: center;

    .form-box {
      display: flex;
      flex-direction: row;
    }

    .left-side-modal {
      display: flex;
      width: 100%;
      flex-direction: column;
      height: auto;

      .modal-input-box,
      .modal-button-box,
      .modal-title,
      .modal-image-box {
        height: 50px;
        margin: 5px;

        button {
          border-radius: 5px;
          width: 100%;
          margin: 5px;
          cursor: pointer;
        }
        .submit {
          background-color: rgba(2, 138, 250, 0.801);
        }
        .modal-close {
          background-color: rgba(165, 161, 159, 0.863);
        }
        input,
        select {
          height: 45px;
          width: 100%;
          box-sizing: border-box;
          padding: 10px;
          border-radius: 5px;
        }
      }
      .modal-input-box,
      .modal-title {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .modal-button-box {
      display: flex;
      justify-content: space-between;
    }
    .modal-image-box {
      display: flex;
      justify-content: center;
      align-items: center;
      .upload-icon {
        height: 30px;
        width: 10%;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: contain;
      }
      input {
        display: none;
      }
    }

    .right-side-modal {
      height: 200px;
      width: 100%;
      margin-left: 10px;
      display: flex;

      .upload-image-box {
        display: flex;
        margin-left: 10px;
        height: 100%;
        width: 100%;
        label {
          height: 200px;
        }
        p {
          font-size: 15px;
          margin-left: 25px;
          color: white;
        }
        .song-image-upload {
          height: 100%;
          width: 100%;
          justify-content: center;
          background-color: transparent;
          background-repeat: no-repeat;
          background-size: contain;
          cursor: pointer;
        }
        input {
          display: none;
        }

        .song-image-preview {
          margin-top: 3px;
          height: 200px;
          width: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .modal-container {
    .modal {
      width: 300px;
      height: 300px;

      .left-side-modal {
        .modal-input-box,
        .modal-button-box,
        .modal-title,
        .modal-image-box {
          height: 30px;
          margin: 10px;

          button {
            height: 20px;
          }
        }
      }
    }
  }
}
